<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test blog</title>
</head>
<body>
    <div>
        <h1>
            <a href="/">Test Blog</a>
        </h1>
    </div>

    <div>
        <p>published: 21.03.2020, 21:45</p>
        <h2>
            <a href="">My first post</a>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam commodi dolore earum eius, eligendi excepturi fuga iusto libero, praesentium sapiente ullam vel voluptates. Aliquam ex exercitationem magni perferendis vitae.</p>
    </div>
</body>
</html>